@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.titulo_principal{
    text-align: center;
}

span{
    color: blue;
}
section{
    background: rgb(28, 113, 249);
    color: white;
    padding: 2px 8px;

}
li{
    text-decoration: underline;
}

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 8px;
}
footer p{
    margin: 0%;
}